html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    user-select: none;
}
