html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    user-select: none;
}

.top {
    height: auto;
    display: flex;
    font-size: 13px;
    user-select: none;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.item {
    padding: 2px 12px 4px 12px;
    border-radius: 8px;
    cursor: default;
    border: 1px solid transparent;
}

.item:hover {
    background-color: #eee;
}

.item:active {
    background-color: #ddd;
}

.middle {
    flex: 1;
    display: flex;
    padding: 4px;
    gap: 4px;
}

.placeholder {
    border: 1px dashed #ddd;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.placeholder span {
    display: block;
    font-size: 12px;
    margin: 4px 8px;
    width: 100%;
}

.left {
    flex: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.right {
    width: 20%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 8px;
}

.tool_button {
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: default;
}

.tool_button:hover {
    background-color: #eee;
}

.tool_button:active {
    background-color: #ddd;
}

.bottom {
    height: auto;
    padding: 4px 8px;
    display: block;
    gap: 6px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}