<template data-component="main_canvas">
    <div id="painting_area" class="painting_area">
        <button id="lock_guideline_button" class="lock_guideline_button">
            
        </button>

        <div id="ruler_horizontal" class="ruler_horizontal"></div>
        <div id="ruler_vertical" class="ruler_vertical"></div>
        <div id="main_canvas_large" class="main_canvas_large" style="position: absolute; top: 0; right: 0; width: 100%; height: 100%; background-color: white;">
            <div id="main_canvas" class="main_canvas" style="position: absolute; background-color: white;"></div>
        </div>
    </div>

    <style>
        .painting_area {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .lock_guideline_button {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 18px;
            height: 18px;
            z-index: 100;
            background-color: white;
            border: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .lock_guideline_button img {
            width: 18px;
            height: 18px;
            display: block;
        }


        .ruler_horizontal {
            position: absolute;
            z-index: 100;
            top: 0px;
            left: 18px;
            height: 18px;
            width: 100%;
            border-bottom: 1px solid #888;
            box-sizing: border-box;
            background-color: white;
            user-select: none;
        }

        .ruler_vertical {
            position: absolute;
            z-index: 100;
            left: 0px;
            top: 18px;
            width: 18px;
            height: 100%;
            border-right: 1px solid #888;
            box-sizing: border-box;
            background-color: white;
            user-select: none;
        }

    </style>

</template>

