<template data-component="pen_editor">
    <div class="bottom">
        <span>Adding new curves.</span>
        <output id="mouse_pos" style="margin-left: auto;">Mouse Pos 0.00 0.00</output>
    </div>
    
    <style>

        .bottom {
            height: auto;
            width: 100%;
            gap: 6px;
            background-color: #fff;
            display: flex;
        }

        .bottom input {
            height: 20px;
            width: 50px;
            font-size: 13px;
            padding: 2px 6px 4px 6px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }

        .bottom input:focus {
            outline: none;
            border-color: #888;
        }

        .bottom span,
        .bottom output {
            padding: 2px 2px 4px 2px;
            font-size: 13px;
        }

    </style>
</template>