<template data-component="node_editor">
    <div class="bottom">
        <span>Single node selected.</span>
        <span>X</span>
        <input type="text" placeholder="0.00">
        <span>Y</span>
        <input type="text" placeholder="0.00">
        <span>In X</span>
        <input type="text" placeholder="0.00">
        <span>In Y</span>
        <input type="text" placeholder="0.00">
        <span>Out X</span>
        <input type="text" placeholder="0.00">
        <span>Out Y</span>
        <input type="text" placeholder="0.00">
        <span>In Angle</span>
        <input type="text" placeholder="0.00">
        <span>Out Angle</span>
        <input type="text" placeholder="0.00">
        <span style="margin-left: auto;">Mouse Pos 0.00 0.00</span>
    </div>
    
    <style>
        .bottom {
            height: 26px;
            padding: 4px 8px;
            display: flex;
            gap: 6px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
        }

        .bottom input {
            height: 20px;
            width: 50px;
            font-size: 13px;
            padding: 2px 6px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }

        .bottom input:focus {
            outline: none;
            border-color: #888;
        }

        .bottom span {
            padding: 2px 2px;
            font-size: 13px;
        }

    </style>
</template>